* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul, ol {
  padding-left: 16px;
}